@import "../../../assets/colors";

aside {
    position: relative;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: $dark-secondary-color;
    box-shadow: 0px 4px 15px 5px rgba($color: $dark-primary-color, $alpha: .2);
    z-index: 1;


    // .top {


    //     h1 {
    //         width: 100%;
    //         text-align: center;
    //         padding: 24px 16px;
    //         color: $text-light-color;
    //     }
    // }
}