.start {
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
    gap: 16px;

    &.show {
        display: flex;
    }

    .information {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 16px 32px;
        background-image: linear-gradient(52deg, rgba(119, 116, 181, .8), rgba(105, 100, 184, 1) 51%, rgba(105, 100, 184, .8) 100%), url('../../../../../assets/images/purple.jpg');
        background-size: cover;
        background-position: center;

        h1 {
            font-size: 32px;
            margin-bottom: 12px;
        }

        .content {
            display: flex;
            gap: 16px;
            align-items: center;
            justify-content: center;
            padding: 16px;
            background: rgba(255, 255, 255, .09);
            width: 100%;
            margin-bottom: 12px;
            border-radius: 8px;
            border: 1px solid rgba(255, 255, 255, .05);

            .icon {
                width: 32px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .text {
                flex: 1;
                display: flex;
                align-items: center;
                gap: 14px;
            }
        }
    }

    .gaming {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 16px 32px;

        h1 {
            font-size: 32px;
            margin-bottom: 16px;
        }

        p {
            font-size: 12px;
            margin-bottom: 16px;
            text-align: center;
        }

        .words {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 16px;
            margin-bottom: 16px;
        }

        .form {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            input[type="text"] {
                width: 100%;
                height: 56px;
                background: var(--input-bg);
                border: 1px solid var(--input-border);
                color: var(--white);
                padding: 16px;
                outline: none;
                border-radius: 8px;

                &:focus {
                    border: 1px solid var(--active);
                }
            }

        }
    }

    .circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 62px;
        height: 62px;
        border-radius: 50%;
        background: var(--bg-darker2);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;


    }
}