 @import "@/assets/mixins";

 .box {
     padding: 16px;

     .title {
         display: flex;
         align-items: center;
         gap: 12px;
         margin-bottom: 32px;

         .icon {
             display: flex;
             align-items: center;
             justify-content: center;
             width: 44px;
             height: 44px;
             background: var(--info-color);
             border-radius: 8px;
         }

         h4 {
             font-size: 24px;
             color: rgba($color: #fff, $alpha: .6);
         }
     }

     .list {
         display: flex;
         justify-content: space-between;
         border: 1px solid var(--light-blue);
         margin-bottom: 12px;
         padding: 12px;
         cursor: pointer;
         transition: .4s ease-in all;
         animation: transform 1s forwards;
         transform: translateX(16px);

         &:hover {
             background: var(--light-blue);
             transform: translateX(16px);

             .info {

                 .icon {
                     background: rgba($color: #baf8ff, $alpha: .8);

                     svg {
                         fill: var(--light-blue) !important;
                         color: var(--light-blue) !important;
                     }
                 }

                 .text h4 {
                     color: #fff !important
                 }

                 .text span {
                     color: #fff !important
                 }
             }

         }

         .info {
             display: flex;
             align-items: center;
             justify-content: center;
             gap: 12px;

             .icon {
                 width: 44px;
                 height: 44px;
                 display: flex;
                 align-items: center;
                 justify-content: center;
                 background: var(--light-blue);

                 svg {
                     fill: #fff;
                     color: #fff;
                 }


             }

             .text {
                 display: flex;
                 flex-direction: column;
                 padding-bottom: 10px;

                 h4 {
                     font-size: 16px;
                     color: var(--light-blue);

                     @include xl {
                         font-size: 14px;
                     }
                 }

                 span {
                     font-size: 12px;
                     color: rgba($color: #fff, $alpha: .6);
                 }
             }
         }

         @keyframes transform {
             0% {
                 transform: translateX(16px);
             }

             100% {
                 transform: translateX(0px);
             }
         }

     }
 }